#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
  background-color: #0E0A14EF;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}

#modal .content {
  width: 420px;
  padding: 30px;
  color: #FFFFFF;
}

#modal .content .header {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}

#modal .content .header a {
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 0.01px;
  background-image: url('../assets/x.svg');
}

#modal .content .header h1 {
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

#modal .content form label {
  display: none;
}

#modal .content form .field {
  display: flex;
}

#modal .content form input {
  flex: 1;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  border: 2px solid var(--primary-color);
  color: #6C6C80;
}

#modal .content form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border: 2px solid var(--primary-color);
  border-radius: 0 8px 8px 0;
  transition: 400ms;
  cursor: pointer;
  background-color: var(--primary-color);
}

#modal .content form button:hover {
  background-color: #2FB86E;
}

#modal .content form button img {
  width: 20px;
  height: 20px;
}